//ul
//	for item in data
//		li=item.data.name

h1
	table
		a(href="http://localhost:3000/newtodo") Add New Todo
			for item in data
				tr
					td=item.data.name
					td <input type="checkbox" name="box1" value="1" />
