extends layout

block content
    h1= title
    form#formAddTodo(name="addtodo",method="post",action="/addtodo")
        input#inputNewTodo(type="text", placeholder="newtodo", name="newtodo")
        button#btnSubmit(type="submit") submit
